@import "../../styles/theme";

.shimmerLoading {
  --color: rgba(23, 0, 59, 1);
  --highlight: rgba(234, 171, 80, 1);
  background: $background;
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(-60deg, $background 0%, $background 35%, var(--highlight) 50%, $background 65%, $background 100%);
    animation-name: shimmer;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
  }
}

@keyframes shimmer {
  0% {
    background-position: -150px 0%;
  }

  100% {
    background-position: 150px 0%;
  }
}
