.shimmerLoading {
  --color: rgba(23, 0, 59, 1);
  --highlight: rgba(35, 29, 69, 1);
  background: var(--color);
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;


  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(-60deg, var(--color) 0%, var(--color) 35%, var(--highlight) 50%, var(--color) 65%, var(--color) 100%);
    animation-name: shimmer;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
  }
}

@keyframes shimmer {
  0% {
    background-position: -150px 0%;
  }

  100% {
    background-position: 150px 0%;
  }
}