@import "../../styles/theme";
@import "../../styles/viewports";

div.walletStatus {
  display: flex;
  justify-content: flex-end;
  & > button {
    color: $primary;
    border: none;
    padding: 0;
    background: none;
    font-family: $font-family;
    font-size: 16px;
    @include breakpoint(lg) {
      font-size: 11px;
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }
  .hasAccount {
    display: flex;
    align-items: center;
    border: 1px solid $primary-destructive;
    border-radius: 75px;
    padding: 8px 12px;
    font-family: $font-family;
    font-weight: $bold;
    font-size: 16px;
    span.address {
      margin-right: 8px;
      color: $primary-destructive;
      @include breakpoint(md) {
        display: none;
      }
    }
  }
  .noAccount {
    
    background: $primary-destructive;
    border-radius: 75px;
    line-height: 40px;
    color: $primary-focus;
    font-weight: $bold;
    padding: 0px 20px;

    @include breakpoint(lg) {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 18px;
      width: 60px;
    }
    @include breakpoint(md) {
      position: relative;
      left: 20px;
    }
    &:hover,
    &:focus,
    &:active {
      outline: none;
      background: linear-gradient(90deg, rgba(234, 171, 80, 0) 0%, #FFD08C 49.8%, rgba(234, 171, 80, 0) 100%), #EAAB50;
      border-radius: 75px;
      transform: none;
      transition: none;
      cursor: pointer;
    }
  }
}
