@import "../../styles/theme";
@import "../../styles/global";

button.button {
  font-family: $font-family;
  border-radius: 4px;
  border: none;
  color: var(--background-main);
  font-weight: $bold;
  font-size: 16px;
  letter-spacing: 0.02em;
  cursor: pointer;
  padding: 1px 6px;

  &:disabled:hover {
    cursor: not-allowed;
  }

  &:disabled {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  &.primary {
    background: $primary;

    &:enabled:hover,
    &:enabled:focus {
      background-color: $secondary-focus;
      color: var(--text);
      box-shadow: var(--shadow-hover);
    }
  }

  &.secondary {
    background-color: clear;
    color: $secondary-focus;
    font-weight: $bold;
    border: 1px solid var(--outline);

    &:disabled {
      cursor: not-allowed;
      color: var(--text-secondary-button-disabled);
    }

    &:enabled:hover,
    &:enabled:focus {
      background-color: $primary-blue;
      color: $text-white;
      font-weight: $bold;
      box-shadow: var(--shadow-hover);
    }
  }

  &.ternary {
    color: $white;
    background: $divider-red;
    font-weight: $medium;
    letter-spacing: -0.06em;
  }

  &.temporary {
    background: $orange;
    color: $black;

    &:disabled {
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.3);
    }

    &:enabled:hover,
    &:enabled:focus {
      background-color: $primary;
      color: $primary;
      box-shadow: var(--shadow-hover);
    }
  }

  &.cancel {
    background: $white;

    &:enabled:hover,
    &:enabled:focus {
      color: $primary;
    }
  }

  &.large {
    width: 176px;
    min-height: 40px;
  }
}
