@import "../../styles/theme";
@import "../../styles/viewports";

header.top {
  height: 88px;
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint(sm) {
    padding-left: 16px;
    padding-right: 30px;
  }

  h1 {
    width: 20%;
    margin: 0;
    margin-right: auto;

    .logo {
      display: inline-block;
      width: 164px;
      margin-right: 0.4em;
      @include breakpoint(md) {
        margin-right: 0.3em;
        height: 40px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  .walletStatus {
    margin-left: auto;
    width: 20%;

    .connection {
      &.success .indicator {
        filter: invert(1);
      }
    }
    img.logo {
      height: 1.5em;
    }
  }
}
