html{
  font-family: Montserrat,Rubik,-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

:root{
  --white:white;
  --black:black;
  --primary: #60A88B;
  --secondary:#EAAB50;
  --mainBackgroundColor:#31386B;
  --navigationTabBackground: #f5f5f5;
  --lightTint: #f7f7f7;
  --activeNAvigationTabBackground: #c8e6fe;
  --lightBlue: #c8e6fe;
  --mildBlue: #e9f5fe;
  --placeholderColor: #c7c7c7;
  --dark: #363636;
  --commonTextColor: #f7f7f7;
  --grey: #8e8e8e;
  --green: #60A88B;
  --mildGreen: rgba(40, 199, 111, 0.12);
  --opaqueGreen:rgba(96, 168, 139, 0.5);
  --red:#D12E38;
  --mildRed: rgba(223, 95, 103, 0.12);
  --mildYellow: rgba(251, 139, 36, 0.2);
  --lightGrey: #e5e5e5;
  --navigationTabTextColor: #333;
  --error: #d62839;
  --tint: #f9f9f9;
  --paperBorderRadius: 8px;
  --gridInputBorder: #dbdbdb;
  --ctaBlue: #28a2ff;
  --paperBackground:#201F55;
  --bodyTextColor:#E5E6E7;
  --buttonBorderRadius:60px;
  --primaryDisabled:#89693B;
  --chipBackgroundColor:#3a2e6b;
  --poolCardBackground: #00103B;
  --poolCardBorder: #4D2F43;
  --swapInputbackground: #06041D;
  --paperBorderRadius:12px;

  /* ag grid related styles */
  --ag-border-color: transparent;
  --ag-row-border-color: transparent;
  --ag-header-background-color: var(--tint);
  --ag-header-column-separator-color: transparent;
  --ag-data-color: var(--darkText);
  --ag-range-selection-border-color: transparent;
  --ag-odd-row-background-color: var(--lightTint);
}
