@import "../../styles/theme";
@import "../../styles/viewports";

div.poolOverview {
  margin-top: 20px !important;
  width: 100%;
  background: var(--background-element-new) !important;
  box-shadow: var(--shadow);
  border-radius: 20px !important;
  padding: 24px 32px;
  display: grid;
  grid-template-columns: 45% 55%;
  border: 4px solid #4D2F43;

  @include breakpoint(md) {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    row-gap: 24px;
    padding: 24px 6%;
    width: 80%;
  }
  @include breakpoint(sm) {
    width: 90%;
    padding: 24px 2%;
  }
  @include breakpoint(xs) {
    width: 100%;
    padding: 24px 2%;
  }

  .left {
    display: grid;
    grid-template-rows: 20px 24px 22px 10px 20px !important;
  }

  .titleAndTag {
    grid-row: 1/2;
    display: flex;
  }

  h4.title {
    font-family: $font-family-title;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: $bold;
    color: var(--text);
    margin-right: 16px;
  }

  .balance {
    grid-row: 3/4;
  }
  .tokens {
    grid-row: 5/6;
    display: flex;
    align-items: center;
    flex-direction: row;
    @include breakpoint(md) {
      width: 100%;
      justify-content: space-between;
    }
  }

  div.token {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }

    & > img {
      margin-right: 4px;
      vertical-align: sub;
      height: 18px;
      width: 18px;
    }

    & > span {
      font-size: 16px;
      font-family: $font-family;
      font-weight: bold;
    }
  }

  div.right {
    display: grid;
    justify-content: end;
    @include breakpoint(md) {
      justify-content: space-between;
      row-gap: 24px;
      grid-template-columns: 100%;
    }

    .margin {
      margin-right: 24px;
      display: flex;
      flex-direction: row !important;
      column-gap: 5px;
      align-items: center;
      @include breakpoint(md) {
        flex-direction: column !important;
        margin-right: auto;
      }
    }
    .poolInfo {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-self: end;
      @include breakpoint(md) {
        justify-self: start;
        width: 100%;
        justify-content: space-between;
      }
    }
    div.label {
      display: block;
      color: $white !important;
      font-weight: $bold;
      font-size: 16px;
      text-align: center;
    }

    .plus {
      font-weight: $medium;
      color: var(--text);
      display: block;
    }
    .minus {
      font-weight: $medium;
      color: $error;
    }

    .buttons {
      align-self: end;
      justify-self: end;
      display: grid;
      grid-template-columns: 176px 176px;
      column-gap: 16px;
      @include breakpoint(md) {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }
  }
  .underline {
    border-bottom: 1px dotted var(--text);
  }
}

div.outdated {
  border-color: $orange;
}

.tag {
  border-radius: 4px;
  font-size: 20px;
  font-weight: $bold;
  align-self: center;
  padding: 2px 4px;
}
.tag.warning {
  border: 1px solid $orange;
  color: $orange;
}
.tag.error {
  border: 1px solid $error;
  color: $error;
}

div.poolOverview:first-child {
  margin-top: 0;
}
