@import "../../styles/theme";

div.poolInfoCard {
  color: var(--text);
  font-size: 16px;
  font-weight: $normal;

  h4 {
    width: 100%;
    font-family: $font-family-title;
    font-weight: 500;
    color: var(--text-title);
  }

  div.info {
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px;
    .label {
      margin-right: 8px;
    }
    .underline {
      border-bottom: 1px dotted var(--text);

      &:hover {
        cursor: help;
      }
    }
  }

  .bottom {
    h4 {
      margin-bottom: 4px;
    }
  }

  .twoColumn {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;

    span {
      display: block;
      line-height: 20px;
    }
  }

  .tokenList {
    display: flex;
    flex-wrap: wrap;

    img {
      height: 32px;
      width: 32px;
      margin-right: 8px;
    }

    .token {
      width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        .tokenInfo{
          display: flex;
          align-items: center;
          p{
            span {
              color: $primary-destructive
            }
          }
        }
    }

    span.tokenPercent {
      margin-left: 16px;
      font-weight: $medium;
    }

    span.tokenValue {
      display: block;
    }
  }

  .bold {
    font-weight: $bold;
  }

  .underline {
    border-bottom: 1px dotted var(--text);
  }
}
.currencyReserves{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  span{
    white-space: nowrap;
    color: $primary-destructive;
  }
}