@import "../../styles/theme";

.swapInputContainer {
  border-radius: 8px;
  padding: 8px;
  display: flex;
  width: 100%;
  position: relative;
  background-color: transparent;
  border: 1px solid $primary;
}

.selectTokenGroup {
  display: flex;
}
.selectGroup {
  display: flex;
  flex-grow: 1;
  align-items: center;
  &.hoverPointer {
    &:hover {
      cursor: pointer;
    }
  }
  > img {
    margin: 0 8px;
    height: 32px;
    width: 32px;
  }

  .tokenNameContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 8px;
  }
  .symbolArrowContainer {
    display: flex;
    align-items: center;
    svg path {
      fill: $white;
    }
  }
}

.inputGroup {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  cursor: default;
  input {
    cursor: default;
    outline: none;
    text-align: right;
    background-color: transparent;
    color: var(--text);
    width: 100%;
  }
  &.focusable,
  &.focusable input {
    cursor: text;
  }
}

.textBoldPurple {
  outline: none;
  color: var(--text);
  font-weight: 500;
  font-size: 18px;
  font-family: $font-family;
}

.dropdownContainer {
  width: 101%;
  position: absolute;
  top: 110%;
  left: -1px;
  z-index: 2;
  box-shadow: var(--shadow);
}

.textMinor {
  font-size: 14px;
  color: var(--text);
}
