// Karla

@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/karla/Karla-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/karla/Karla-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/karla/Karla-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/karla/Karla-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

// DM

@font-face {
  font-family: "DM Sans", sans-serif;
  src: url("../assets/fonts/dm/DMSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans", sans-serif;
  src: url("../assets/fonts/dm/DMSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans", sans-serif;
  src: url("../assets/fonts/dm/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}