/**
* GLOBAL STYLES
* Imported once at the top level
* Used everywhere
*/
@import "fonts";
@import "theme";

* {
  box-sizing: border-box;
}

p,
b,
span {
  font-family: $font-family;
  line-height: 20px;
  size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-title;
}

svg,
img {

  display: inline !important;
}

ul {
  list-style: none;
}

:root {
  --background-main:#31386B;
  --background-element:#0F0E3B;
  --background: $primary;
  --background-lightgrey: #3290FE;
  --primary-foreground: #026AE7;
  --primary-background:#107CFD;
  --background-element-hover: rgba(255, 255, 255, 0.88);
  --background-logo: #{$primary};

  --secondary-button: #{$light-blue};
  --outline:#107CFD;
  --outline-gray: #{$black30};
  --option-hover: #{$primary-blue-light};
  --tab: #0F0E3B;

  --text: #E5E6E7;
  --text-darker: #000;
  --text-lighter: #686868;
  --text-lightest: #a5a5a5;
  --text-title: #{text-black};
  --text-primary: #{$primary-blue};
  --text-selected: #{$primary-blue};
  --text-secondary-button: #{$primary-blue};
  --text-secondary-button-disabled: #717f7B;
  --header-text: #1f2023;
  --sign-graph: #000;

  --shadow: 0px 2px 8px rgba(39, 14, 1, 0.1);
  --shadow-hover: 2px 2px 12px rgba(68, 64, 64, 0.2);
}
