@import "../../styles/theme";
@import "../../styles/viewports";

div.riskpage {
  // background: var(--background-main);
  padding-bottom: 80px;
  font-size: 16px;
  box-sizing: border-box; // Make the padding included in height calculation

  .content {
    padding: 36px 46px;
    margin: 0 auto;
    width: 980px;
    color: var(--text);
    @include breakpoint(lg) {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: center;
      margin: 0 auto;
      width: 90%;
    }
  }

  .itemInfo {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;

    .text {
      width: 75%;
    }
    .icon {
      text-align: center;
    }
  }

  h3 {
    padding-top: 20px;
    margin-bottom: 12px;
    font-size: 26px;
    font-weight: $bold;
  }

  a {
    color: $primary;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    line-height: 24px;
  }
}
