@import "../../styles/theme";
@import "../../styles/viewports";

.advancedOptions {
  width: 100%;
  padding: 12px 0px;

  .titleBox{
    padding-bottom: 8px;
  }
  
  span.settings {
    margin-right: 8px;
  }
  @include breakpoint(lg) {
    margin: 12px auto 20px;
    width: 434px;
  }
  @include breakpoint(md) {
    max-width: 100%;
  }
  svg.triangle {
    margin-left: 10px;
    transform: norotate(0deg);
  }
  svg.upsideDown.triangle {
    transform: rotate(-180deg);
  }

  .title {
    cursor: pointer;
  }

  .divider {
    width: 100%;
    height: 1px;
    margin: 10px 0 20px 0;
    background: var(--outline);
  }

  .tableContainer {
    display: none;
    padding: 12px 8px;
    background: #31386B;
    border-radius: 10px;
    transition: transform 0.1s ease-in 25ms;
    transform: scale(0);
    transform-origin: bottom left;
  }

  div.parameter {
    margin-top: 0px;
  }

  .show {
    display: block;
    transition: transform 0.1s ease-in 25ms;
    transform: scale(1);
    transform-origin: top center;

  }

  .parameter {
    margin: 2px 0;
  }
  .parameter .options {
    margin-top: 10px;
  }

  div.inputGroup {
    input {
      width: 48px;
      border: 1px solid $primary-destructive;
      border-radius: 8px;
      height: 28px;
      font-size: 80%;
      color: $primary;
      padding: 2px 4px;
      margin: 0 6px 0 8px;
      outline: none !important;
    }

    input:focus {
      outline: 1px solid var(--outline);
    }

    .label {
      font-weight: $normal;
      font-size: 16px;
      letter-spacing: -0.04em;
      margin: auto 16px auto 0;
      font-family: 'Karla';
      @include breakpoint(lg) {
        font-size: 13px;
        margin-right: 0px;
        width: 90px;
      }
      @include breakpoint(sm) {
        font-size: 13px;
        margin-right: 0px;
        width: 80px;
      }
    }
    .options {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      @include breakpoint(lg) {
        font-size: 12px;
      }
      @include breakpoint(md) {
        font-size: 11px;
      }
    }
    .groupButtons {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;

      .custom {
        border: 2px solid $primary-destructive;
        border-radius: 75px;
        background: $primary-blue;
        & > input {
          background: $primary-blue;
          border: none;
          font-size: 16px;
          color: $white;
          font-family: $font-family;
        }
        span {
          margin-right: 4px;
        }
      }
    }
    
    .groupButtons > button{
      margin: 0px 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $primary-destructive;
      border-radius: 75px;
      background: $primary-blue;
      font-size: 16px;
      padding: 6px 8px;
      font-weight: $normal;
      color: var(--text);
      letter-spacing: -0.04em;
      padding: 4px 10px;
      cursor: pointer;

      &:hover {
        transform: none;
      }

      &:focus {
        outline: none;
        border: none;
      }

      &.selected {
        color: var(--text);
        font-weight: $bold;
        background: $primary;
        border-radius: 75px;
        border: 1px solid $primary;
      }
      @include breakpoint(lg) {
        font-size: 12px;
        width: 72px;
        height: 28px;
      }
      @include breakpoint(md) {
        font-size: 11px;
        width: 72px;
        height: 28px;
      }
      @include breakpoint(xs) {
        font-size: 11px;
        width: 58px;
        height: 28px;
        padding: 0 2px;
        margin-right: 2px;
      }
    }

    .options > button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid ;
      border-radius: 8px;
      background: none;
      font-size: 16px;
      padding: 6px 8px;
      font-weight: $normal;
      color: var(--text);
      letter-spacing: -0.04em;
      padding: 4px 10px;
      cursor: pointer;

      &:hover {
        transform: none;
        font-weight: $bold;
      }

      &:focus {
        outline: none;
        border: none;
      }

      &.selected {
        color: var(--text);
        font-weight: $bold;
        background: $primary;
        border-radius: 75px;
      }
      @include breakpoint(lg) {
        font-size: 12px;
        width: 72px;
        height: 28px;
      }
      @include breakpoint(md) {
        font-size: 11px;
        width: 72px;
        height: 28px;
      }
      @include breakpoint(xs) {
        font-size: 11px;
        width: 58px;
        height: 28px;
        padding: 0 2px;
        margin-right: 2px;
      }
    }
  }
}

.infiniteApproval {
  position: relative;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;

  .label {
    position: relative;
    font-family: 'Karla';
    border-bottom: 1px dotted var(--text);
    font-size: 14px;
    margin-left: 8px;
    font-weight: $normal;
    &:hover {
      cursor: help;
    }
  }

  .labelLine {
    min-width: 280px;
  }
}
