@import "../../styles/theme";
@import "../../styles/viewports";

$margin-top: 16px;

div.myShareCard {
  color: $text-white;
  font-size: 16px;
  background: $primary-blue;
  border-radius: 10px;
  padding: 12px 16px;

  .head{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    span {
      width: 100%;
      text-align: right;
      font-size: 16px;
      color: $primary-destructive;
    }

  
  }

  h4 {
    width: 100%;
    font-family: $font-family-title;
    font-size: 26px;
    font-weight: 500;
    color: $light-blue;
  }

  div.info {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    row-gap: 8px;
  }

  .poolShare {
    width: 100%;
  }

  .poolShare span {
    color: $light-blue;
  }

  div.currency {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    display: none;
    @include breakpoint(md) {
      width: 200px;
      flex-flow: row wrap;
    }

    .tokenName {
      font-weight: $bold;
      display: block;
    }
  }
}

.infoItem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title{
  font-size: 18px;
  font-family: $font-family;
  font-weight: $normal;
  line-height: 21px;
}
.value{
  font-size: 18px;
  line-height: 21px;
}