@import "../../styles/theme.scss";
@import "../../styles/global.scss";
@import "../../styles/viewports";

.layout {
  display: flex;
  flex-direction: column;
  background-image: url("/assets/website_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;

  .topbar {
    position: fixed;
    width: 100%;
  }

  .sidebar {
    position: fixed;
    width: 20%;
    margin-top: 70px;
    min-height: 90vh;
  }

  .mainContainer {
    margin-top: 70px;
    margin-left: 20%;
  }
}
