@import "../../styles/theme.scss";
@import "../../styles/global.scss";
@import "../../styles/viewports";

.layout {
  display: flex;
  flex-direction: column;
  background: var(--background-main);
  min-height: 100vh;
}
