@import "../../styles/theme";

.socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  height: 60px;
}

.socialLinks a {
  padding: 0 8px;
}

.socialLinks a:hover {
  transform: scale(1.05);
}