@import "../../styles/theme";

.balanceContainer {
  text-align: right;
  span,
  a {
    font-size: 16px;
  }
  a {
    font-weight: 700;
    color: var(--text);
    &:hover {
      cursor: pointer;
    }
  }
}

.tokenInputContainer {
  border-radius: 8px;
  padding: 8px;
  display: flex;
  font-size: 16px;
  width: 100%;
  position: relative;
  background-color: $primary-shade;

  .smallText {
    font-size: $smallFont;
  }

  .boldText {
    font-weight: $bold;
    line-height: 24px;
  }

  .tokenSymbolAndName {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
  }

  img {
    vertical-align: text-bottom;
    width: 24px;
    margin: auto 0;
  }
}

.inputGroup {
  display: flex;
  flex: 1;
  font-size: 16px;
  flex-direction: column;
  align-items: flex-end;
  cursor: default;

  input {
    outline: none;
    border-radius: 4px;
    text-align: right;
    background-color: $primary-shade;
    color: var(--text);
    width: 100%;
    &::placeholder {
      color: var(--text);
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: $disabled;
      border: none;
    }
  }
}
